input, textarea, select {
	box-sizing: border-box;
	width: 200px;
	height: initial;
	padding: 8px 5px;
	border: 1px solid #9a9a9a;
	border-radius: 4px;
}

input[type="checkbox"] {
	width: auto;
	vertical-align: text-bottom;
}

textarea {
	width: 300px;
}

select {
	display: initial;
	height: 30px;
	padding: 2px 5px;
}

button, input[type=submit] {
	cursor: pointer;
	border-radius: 25px;
	color: #000000;
	background-color: #ffc72c;
	border-color: #ffd98e #ffbe3d #de9300;
    border: #e8aa6a 1px solid;
    font-size: 0.9em;
    width: auto;
    padding: 5px 30px;
    margin-right: 15px;
}

input[type=submit]:hover {
	background-color: #f7c027;
}

::placeholder {
	color: #bdbfc4;
}

label {
	display: block;
	color: #565656;
}

/* Modal window*/

  /* Modal window */
  body {
  	font-family: Arial, Helvetica, sans-serif;
  }

  /* The Modal (background) */
  .modal {
  	display: none;
  	/* Hidden by default */
  	position: fixed;
  	/* Stay in place */
  	z-index: 1;
  	/* Sit on top */
  	padding-top: 100px;
  	/* Location of the box */
  	left: 0;
  	top: 0;
  	width: 100%;
  	/* Full width */
  	height: 100%;
  	/* Full height */
  	overflow: auto;
  	/* Enable scroll if needed */
  	background-color: rgb(0, 0, 0);
  	/* Fallback color */
  	background-color: rgba(0, 0, 0, 0.4);
  	/* Black w/ opacity */
  }

  /* Modal Content */
  .modal-content {
  	position: relative;
  	background-color: #fefefe;
  	margin: auto;
  	padding: 0;
  	border: 1px solid #888;
  	width: 80%;
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  	-webkit-animation-name: animatetop;
  	-webkit-animation-duration: 0.4s;
  	animation-name: animatetop;
  	animation-duration: 0.4s
  }

  /* Add Animation */
  @-webkit-keyframes animatetop {
  	from {
  		top: -300px;
  		opacity: 0
  	}

  	to {
  		top: 0;
  		opacity: 1
  	}
  }

  @keyframes animatetop {
  	from {
  		top: -300px;
  		opacity: 0
  	}

  	to {
  		top: 0;
  		opacity: 1
  	}
  }

  /* The Close Button */
  .close {
  	color: white;
  	float: right;
  	font-size: 28px;
  	font-weight: bold;
  }

  .close:hover,
  .close:focus {
  	color: #000;
  	text-decoration: none;
  	cursor: pointer;
  }

  .modal-header {
  	padding: 2px 16px;
  	background-color: #5cb85c;
  	color: white;
  }

  .modal-body {
  	padding: 2px 16px;
  }

  .modal-footer {
  	padding: 2px 16px;
  	background-color: #5cb85c;
  	color: white;
  }
